*
  margin: 0
  padding: 0

a
  text-decoration: none

html, body
  margin: 0
  padding: 0
  height: 100%
  font-weight: 400
  font-family: 'Lato', 'Raleway', sans-serif
  -webkit-font-smoothing: antialiased
  background-color: #224955

li
  list-style: none

.page-enter-active, .page-leave-active
  transition: opacity 0.4s

.page-enter, .page-leave-active
  opacity: 0

.center-flex
  display: flex
  justify-content: center
  align-items: center

.center-flex-column
  display: flex
  flex-direction: column
  justify-content: space-between

.w-100
  width: 100%
