@import "assets/variables"
*
  margin: 0
  padding: 0

a
  text-decoration: none

html, body
  margin: 0
  padding: 0
  height: 100%
  font-weight: 400
  font-family: 'Lato', 'Raleway', sans-serif
  -webkit-font-smoothing: antialiased
  background-color: $background-color-main
  color: $text-color-main

h1, h2, h3, h4, h5, h6
  color: $text-color-main

li
  list-style: none

//.page-enter-active, .page-leave-active
//  transition: opacity 0.4s
//
//.page-enter, .page-leave-active
//  opacity: 0

.center-flex
  display: flex
  justify-content: center
  align-items: center

.center-flex-column
  display: flex
  flex-direction: column
  justify-content: space-between

.w-100
  width: 100%

.h-100
  height: 100%

.hv-100
  height: 100vh


.wrapper-main
  background-color: $background-color-main
  padding-top: 64px
  padding-left: 260px
  min-height: 100vh

@media screen and (max-width: 1264px)
  .wrapper-main
    padding-left: 64px
@media screen and (max-width: 600px)
  .wrapper-main
    padding-top: 0
    padding-left: 0
    min-height: calc(100vh - 64px)


.content-appear
  animation: init-content .5s
@keyframes init-content
  0%
    opacity: 0
  100%
    opacity: 1


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  -webkit-box-shadow: 0 0 0 30px $background-color-main inset !important
  -webkit-text-fill-color: $text-color-main !important


body
  .tox.tox-silver-sink.tox-tinymce-aux
    .tox-tiered-menu
      .tox-menu.tox-collection.tox-collection--list.tox-selected-menu
        .tox-collection__group
          .tox-menu-nav__js.tox-collection__item
            .tox-collection__item-label
              p, h1, h2, h3, h4, h5, h6, pre
                color: #224955!important
